.lc-entry {
  margin-top: 0px;
  margin-bottom: 10px;
}

.lc-title {
  font-weight: 700;
  font-size: 1.1em;
}

.lc-body {
  clear: left;
  margin-left: 10px;
}

.lc-date {
  float:left;
  margin-right: 5px;
}
