<p>Create new live events at: <a href="&base_url&node/add/live_event">/node/add/live_event</a></p>

<strong>Creating a live event</strong>
<p>A live event node behaves like a normal Drupal node. It consists of a title and body, which can use input filters. After creating a live event node, site users with appropriate permissions may add short updates to the node. These updates, consisting of a title and body, may be added via a form visible when the node is viewed. After these updates are saved, they will become visible to all site users who have permission to view the node.</p>

<strong>Managing live event updates</strong>
<p>The live event nodes will have a new tab titled "Make Corrections" available to users with appropriate permissions. After clicking this tab, users may edit or delete previously added updates. Because of the nature of module, the timestamp of the update may not be changed.</p>

<strong>Deleting live events</strong>
<p>Just a word of warning, deleting a live event node will also delete all corresponding updates associated with that node.</p>
